<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiting List</title>
    <link href="styles.css" rel="stylesheet">
    <link href="billing.html">

</head>
<body>
    <div>
    <fieldset id="time">
        <p id="ETA">Estimated Time: (time)</p>
    </fieldset>
        <fieldset id="waitlist">
            <h1>YOUR POSITION IN WAITLIST</h1>
            <p id="queue">21</p>
        </fieldset>
     </div>
</body>
</html>