body{
    background-color: black;
}
h1{
    color: aliceblue;
    text-align: center;
}
p{
    color: white;
    text-align: center;
    font-size: larger; 
}
#waitlist{
    position: relative;
    margin-top: 5%;
    width: auto ;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
    height: auto;
}
#time{
    border-radius: 10px;
}

div{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 25%;
}
