body{
    background-color: black;
    margin-top: 0;
}
h1{
    color: aliceblue;
    text-align: center;
}
#ETA{
    color: white;
    text-align: center;
    font: size 20px;
}
#queue{
    color: white;
    text-align: center;
    font-size:  75px;
}
#waitlist{
    position: relative;
    margin-top: 5%;
    padding: 0;
    border-radius: 15px;
    height:300px;
    ;
}
#time{
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:auto;
    padding:0;
    
    
}

